*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(17, 17, 17);
    font-family:Zalando Sans, sans-serif; 
}

.Commencont{
    text-decoration: underline;
}

.nav_header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 70px;
    font-size: 45px;
    font-weight: Bolder;
    color: white;
    text-align: 10%;
    padding: 10px;
    margin-top: 10px;
    margin: auto;
    font-family: Lora;
}

a{
    color: white;
    text-decoration: none;
}

.Photo{
    background-image: url(Acceuil.png);
    background-size: cover;
    margin: 20px;
    height: 87vh;
    border-radius: 100px;
}

.Photo_Overlay{
   position: absolute; 
}

.Presentation{
    font-size: 25px;
    color: white;
    margin-left: 57vw;
    margin-top: 25vh;
    left: 1%;
}

h1{
    font-size: 40px;
    font-weight: Bolder;
    color: white;
    text-align: 10%;
    margin-top: 10vh;
    margin-left: 2vw;
}

h2{
    font-size: 40px;
    font-weight: Bolder;
    color: white;
    text-align: 10%;
    margin-left: 2vw;
}

.OmeletScrambled{
    color: white;
    font-size: 20px;
    margin-left: 75vw;
    margin-top: 0vh;
}