*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(17, 17, 17);
    font-family:Zalando Sans, sans-serif; 
}
.nav_header{
    display: flex;
    background-color: black;
    height: 70px;
    font-size: 45px;
    font-weight: Bolder;
    color: white;
    text-align: 10%;
    padding: 1vh;
    margin-top: 1vh;
    margin: auto;
    font-family: Lora;
}
.Presentation{
    margin-left: 1vw;
}
.Portfolio{
    margin-left: 2%;
}
.Contact{
    margin-left: 2%;
}
.Accueil{
    margin-left: 5%;
}
.Logo{
    margin-left: 33%;
}
a{
    color: white;
    text-decoration: none;
}


.Photo{
    background-image: url(Fond_Contact.png);
    background-size: cover;
    margin: 20px;
    height: 87vh;
    border-radius: 100px;
}
.Photo_Overlay{
   position: absolute; 
}


h1{
    font-size: 70px;
    font-weight: Bolder;
    color: white;
    background-color: black;
    width: 110%;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    text-decoration: underline;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 5vh;
}




.nav_footer{
    background-color: black;
    height: 250px;
    font-weight: Bolder;
    color: white;
}
.Mentions{
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;;
}
.Linkedin{
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    font-size: 25px;
    text-decoration: underline;
}
.Mail{
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    font-size: 25px;
}
.Numero{
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    font-size: 25px;
}
.Retour_haut{
    margin-top: 10px;
    justify-content: space-around;
    display: flex;
    font-size: 25px;
    text-decoration: underline;
}
.Trait{
    height: 25px;
}
.Formulaire{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 35vw;
    font-size: 5vh;
    gap: 10px;
}
.label{
    margin-top: 9vh;
}
